html{
  height: 100%;
  width: 100%;
}

body{
  height: 100%;
  width: 100%;
  text-align: center;
  background-image: url("../pics/sunset2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #3B2A20;
  font-family: 'Gaegu', cursive;

}
main {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;

}

header{
}

a {
  text-decoration: none;
  color: white;
  text-shadow: 2px 2px black;
  font-size: 2em;

}


.boxes{
  align-self: center;
  width: 100%;
  height: 100%;
  width: 75vw;
  display: grid;
  grid-template-columns: 33% 33% 33%;
}

.box {
  width: 7em;
  height: 7em;
  justify-self: center;
  border: 1px black solid;
  font-family: 'Stylish', sans-serif;
}

#surfing {
  background-image: url("../pics/surfing.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

#adventuring {
  background-image: url("../pics/hawaii_island_hiking_image.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

#treasure-hunting{
  background-image: url("../pics/treasure.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

#chill{
  background-image: url("../pics/hammock.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

#scuba{
  background-image: url("../pics/scuba.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

#drinking {
  background-image: url("../pics/drinking.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

#banana {
  background-image: url("../pics/banana.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

#coconutRum {
  background-image: url("../pics/coconutrum.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

#orange{
  background-image: url("../pics/orangejuice.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

#random {
  background-image: url("../pics/random.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

#lime {
  background-image: url("../pics/lime.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

#pineapple {
  background-image: url("../pics/pineapple.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

#recipe {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

#whiskey {
  margin: auto;
}

h1 {
  font-size: 3.5em;
}

#birthdayH1 {
  color: white;
}